# Dependências
node_modules/

# Build
dist/
build/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Variáveis de ambiente
.env
.env.*

# Cache
.vite/
.cache/

# Cobertura
coverage/

# Arquivos do sistema
.DS_Store
Thumbs.db

# IDEs
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/

# Arquivos temporários
*.tmp
*.temp
/src/generated/prisma

/src/generated/prisma

/src/generated/prisma
